.not-found {
    height: 250px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}


.not-found h1 {
    color: red;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 20px;
}

.not-found a {
    text-decoration: none;
    background-color: orange;
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    font-size: 25px;
    border-radius: 20px;
}